
#note textarea
{
	font-family: 'Roboto Mono', monospace;
	color: black;
	width: 100%;
	height: 100%;
	background-color: white;
	border: none;
}

#note-preview.hidden, #note-edit.hidden
{
	display: none;
}

#note label i
{
	color: rgb(255,64,129);
}
#note input
{
	padding-left: 30px;
}

#note-edit
{
	padding: 16px 16px;
}
