
#note textarea
{
	font-family: 'Roboto Mono', monospace;
	color: black;
	background-color: white;
	border: none;
	height: 100%;
	width: 100%;
   	resize: none;
   	overflow: auto;
	box-sizing: border-box;
	padding: 16px 0 16px 16px;
}

#note-preview.hidden, #note-edit.hidden
{
	display: none;
}

#note label i
{
	color: rgb(255,64,129);
}
#note input
{
	padding-left: 30px;
}

#note-edit
{
	position: relative;
	overflow: hidden;
}

#note-edit
{
	position: relative;
}

