
#note textarea
{
	font-family: 'Roboto Mono', monospace;
	color: black;
	background-color: white;
	border: none;
	position: absolute;
	top: 16px;
	bottom: 16px;
	left: 16px;
	right: 16px;
	width: 98%;
}

#note-preview.hidden, #note-edit.hidden
{
	display: none;
}

#note label i
{
	color: rgb(255,64,129);
}
#note input
{
	padding-left: 30px;
}

#note-edit
{
	padding: 16px 16px;
	position: relative;
}
